body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    text-align: center;
}
.wrap {
    display: inline-block;
    margin: 0 40px 2em 0;
    background-color: lightgray;
}

div {
    width: 170px;
    height: 100px;
    line-height: 100px;
    margin: 00 auto;
    transition: all 0.5s ease-in-out;
}

div:hover {
    cursor: pointer;
}
.div-1, .div-4, .div-7, .div-10 {
    background-color: tomato;
}
.div-2, .div-5, .div-8, .div-11 {
    background-color: lightskyblue;
}
.div-3, .div-6, .div-9 {
    background-color: yellow;
}
.div-1:hover {
    transform: translateX(20px);
}
.div-2:hover {
    transform: translateY(-20px);
}
.div-3:hover {
    transform: translate(-20px, 20px);
}
.div-4:hover {
    transform: scaleX(-1);
}
.div-5:hover {
    transform: scaleY(1.2);
}
.div-6:hover {
    transform: scale(1.2,0.5);
}
.div-7:hover {
    transform: rotate(720deg);
    transition: 2s;
}
.div-8:hover {
    transform: skewX(20deg);
}
.div-9:hover {
    transform: skewY(-20deg);
}
.div-10:hover {
    transform: skew(-20deg, 20deg);
}
.div-11:hover {
    transform: matrix(1.2,0,0.5,1.2,50,0);
}
